<% @videos.each do |video| %>
  <div class="video">
    <h6>
      <span class="video-date"><%= video[:date].strftime("%B %d, %Y") %></span>
      <span class="video-author"><%= video[:speaker] %></span>
    </h6>
    <h2>
      <span class="video-title"><%= video[:title] %></span>
    </h2>
    <video src="<%= video[:url] %>" width="320" height="240"></video>
  </div>
<% end %>
