.video {
  margin-bottom: 4em;
  
  h6 {
    margin-bottom: 0.125em;
    line-height: 1em;
    
    .video-author, .video-date, .video-venue {
      display: inline-block;
      margin-right: 0.5em;
    }
    
    .video-date { font-weight: 400; color: rgb(13, 102, 145); }
    .video-author { color: #555; }
    .video-venue { font-weight: 200; color: #aaa }
  }
  
  h2 {
    margin-top: 0;
    line-height: 1em;
    
    .video-title { font-weight: 100; }
    .video-pick {
      color: gold;
      text-shadow: 0 0 8px gold;
      font-size: 0.66em;
    }
  }
}
