.video {
  margin-bottom: 4em;
  
  h6 {
    margin-bottom: 0.125em;
    line-height: 1em;
    
    .video-date {
      display: block;
      margin-bottom: 0.175em;
      font-weight: 400;
      color: rgb(63, 150, 192);
    }
    
    .video-author, .video-venue {
      display: inline-block;
      margin-right: 0.5em;
    }
    
    .video-author { color: #555; }
    .video-venue { font-weight: 200; color: #bbb }
  }
  
  h2 {
    margin-top: 0;
    line-height: 1em;
    
    .video-title { font-weight: 100; }
    .video-pick {
      color: gold;
      text-shadow: 0 0 8px gold;
      font-size: 0.66em;
    }
  }
}
